#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.div-spline-phone {
  position: relative;
  display: flex;
  height: 70vh;
  width: 100vh;
}

.div-spline-viewer{
  position: relative;
  display: flex;
  height: 70vh;
  width: 100vh;
}

.div-spline-viewer .spline-viewer > div.container > canvas + div + div + a#logo{
  display: none !important;
}